<%- include('./includes/header.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <h1><%=note.title%></h1>
        <p><%=note.note%></p>
    </main>
<%- include('./includes/footer.ejs') %>